<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV</title>
  <style>
  body {
    margin: 10%;
    font-size: 1.2em;
    font-family: Times New Roman;
  }
  ol li {
    padding: 0.4em 0em;
  }
  table.career tr td:first-child {
    width: 220px
  }
  </style>
</head>
<body>
  <h2>経歴</h2>
  <h3>学歴</h3>
  <table class="career">
    <%- career_education.each do |x| -%>
    <tr>
      <%=make_biblio_career(x)%>
    </tr>
    <%- end -%>
  </table>
  <h3>職歴</h3>
  <table class="career">
    <%- career_work.each do |x| -%>
    <tr>
      <%=make_biblio_career(x)%>
    </tr>
    <%- end -%>
  </table>
  <h2>競争的研究資金</h2>
  <h3>研究代表者</h3>
  <ul>
    <%- funding_principal.each do |x| -%>
    <li><%=make_biblio_funding(x)%></li>
    <%- end -%>
  </ul>
  <!--
  <h3>研究分担者</h3>
  <ul>
    <%- funding_collaborator.each do |x| -%>
    <li><%=make_biblio_funding(x)%></li>
    <%- end -%>
  </ul>
  -->

  <h2>受賞歴</h2>
  <ol>
    <%- award.each do |x| -%>
    <li><%=make_award(x)%></li>
    <%- end -%>
  </ol>

  <h2>査読付き論文誌論文</h2>
  <ol>
    <%- journal.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>査読付き国際会議論文</h2>
  <ol>
    <%- proceedings.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>国内会議論文（査読無）</h2>
  <ol>
    <%- proceedings_jp.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>口頭発表</h2>
  <ol>
    <%- oral.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>ポスター発表</h2>
  <ol>
    <%- poster.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>招待講演</h2>
  <ol>
    <%- speech.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>

  <h2>解説記事</h2>
  <ol>
    <%- article.each do |x| -%>
    <li><%=make_biblio(x)%></li>
    <%- end -%>
  </ol>
</body>
</html>
